# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
*.joblib

# Data files
*.csv
*.zip

# Logs
logs/

# Artifacts
artifact/

# MongoDB dump
dump/

# IDE files
.vscode/
.idea/